<section >
    <div class="line"></div>
    <div class="section-calkulator">
    <input class="calculator-field" type="number" placeholder="Введіть число" id="counter-calkulator">
    
        <ul class="calkulator-list">
            <li class="calkulator-item">
                <button class="update-btn-calkulator">
                    +
                </button>
            </li>
            <li class="calkulator-item">
                <button class="update-btn-calkulator">
                    *
                </button>
            </li>

            <li class="calkulator-item">
                <button class="update-btn-calkulator">
                    -
                </button>
            </li>
            <li class="calkulator-item">
                <button class="update-btn-calkulator">
                    \
                </button>
            </li>
        </ul>
    
    <input class="calculator-field" type="number" placeholder="Введіть число" id="counter-calkulator">
    <button class="update-btn-calkulator">
        =
    </button>
    <p class="calculator-field">Результат</p>
</div>
</section>