<section >
    <div class="line"></div>
    <h3>Калькулятор</h3>
    <div class="section-calkulator">

    <input class="calculator-field" type="number" placeholder="Введіть число" id="counter-calkulator1">
    
        <ul class="calkulator-list">
            <li class="calkulator-item">
                <button id="plus-button" class="update-btn-calkulator">
                    +
                </button>
            </li>
            <li class="calkulator-item">
                <button id="plus-umltiplate" class="update-btn-calkulator">
                    *
                </button>
            </li>

            <li class="calkulator-item">
                <button id="plus-minus" class="update-btn-calkulator">
                    -
                </button>
            </li>
            <li class="calkulator-item">
                <button id="plus-divadet" class="update-btn-calkulator">
                    \
                </button>
            </li>
        </ul>
    
    <input class="calculator-field" type="number" placeholder="Введіть число" id="counter-calkulator2">
    <button id="button-equal" class="update-btn-calkulator">
        =
    </button>
    <p id="text-redult" class="calculator-field">Результат</p>
</div>
</section>