<footer>
    <a href="" class="footer-page">
        <svg class="footer__logo--icon">
            <use href="./img/symbol-defs.svg#icon-footer" class="icon-footer"></use>
        </svg>
    </a>
    <ul class="footer__list">
        <li class="footer__list-item">
            <p class="footer__item-text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">Facebook: CodingMagic</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text"> Twitter: CodingMagic</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">Instagram: CodingMagic</p>
        </li>
    </ul>


    <div class="mail__footer--div">
        <input type="text" class="mail__div--comment" placeholder="Ваша ел. адреса..." />
        <button type="submit" class="mail__div--button">Підписатися</button>
        <p class="mail__div--text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</footer>