<footer>
    <a href="" class="footer-page">
        <svg class="footer__logo--icon">
            <use href="./img/symbol-defs.svg#icon-footer" class="icon-footer"></use>
        </svg>
    </a>
    <ul class="footer__list">
        <li class="footer__list-item">
            <p class="footer__item-text">Тел: +38 (123) 456 78 90</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">E-Mail: codingmagic@gmail.com</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">Facebook: CodingMagic</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text"> Twitter: CodingMagic</p>
        </li>
        <li class="footer__list-item">
            <p class="footer__item-text">Instagram: CodingMagic</p>
        </li>
    </ul>


    <div class="mail__footer--div">
        <input type="text" class="mail__div--comment" placeholder="Ваша ел. адреса..." />
        <button type="button" class="mail__div--button" data-open>Підписатися</button>
        <p class="mail__div--text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
    </div>
</footer>
<div class="backdrop  js-backdrop" >
    <div class="modal">
        <button type="button" class="close-modal" data-close>
            <svg class="footer__close--icon">
                <use href="./img/symbol-defs.svg#" class="icon-modal"></use>
            </svg>
        </button>
        <p class="modal-text">Дякую за підписку!</p>
        <div class="modal__image-list">
            <img src="./img/sword.png" alt="1" class="modal-img1">
            <img src="./img/puzzle.png" alt="2" class="modal-img2">
            <img src="./img/tic-tac-toe.png" alt="3" class="modal-img3">
            <img src="./img/game-development.png" alt="4" class="modal-img4">
        </div>
    </div>
</div>