<header>
    <a href="./header.html" class="header__logo">
        <svg class="header__logo--icon">
            <use href="./img/symbol-defs.svg#icon-header" class="icon-header"></use>
        </svg>
    </a>
    <nav class="header__navigation">
        <ul class="header-list">
            <li class="header__list-item">
                <a href="" class="header__item-page">Інтерактив</a>
                <button type="button" class="header__item-btn">
                    <svg class="header__open--icon">
                        <use href="./img/symbol-defs.svg#imouse" class="icon-header__list"></use>
                    </svg>
                </button>
            </li>
            <li class="header__list-item">
                <a href="" class="header__item-page">Наша команда</a>
            </li>
            <li class="header__list-item">
                <a href="" class="header__item-page">Контакти</a>
            </li>
        </ul>

        <div class="header-hiUser">
            <button type="button" class="header-hiUser-btn">
                <svg class="header__hiUser-color">
                    <use href="./img/symbol-defs.svg#vector-1" class="icon-header-sun"></use>
                    <use href="./img/symbol-defs.svg#vector-2" class="icon-header-moon"></use>
                </svg>
            </button>
            <p class="header__hiUser-text">Вітаємо, Usier!</p>
        </div>
    </nav>
</header>

<div class="backdrop-header  js-backdrop">
    <div class="modal-header ">
        <button type="" class="close-modal-header" data-close-header>
            <svg class="header__close--icon">
                <use href="./img/symbol-defs.svg#" class="icon-modal"></use>
            </svg>
        </button>
        <p class="modal-text-header">Привіт!
                Ви потрапили на сайт інтерактивних ігор та завдань
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
                Бажаємо Вам гарно провести час!</p>
        <p class="modal-text-name">Введіть своє ім’я:</p>
            <input type="text" class="modal__header--comment" placeholder="Ваше ім’я..."/>
            <button type="" class="modal__header--button" data-close-modal >Зберегти</button>
        <div class="modal__image-list">
            <img src="./img/sword.png" alt="1" class="modal__header-img1">
            <img src="./img/puzzle.png" alt="2" class="modal__header-img2">
            <img src="./img/tic-tac-toe.png" alt="3" class="modal__header-img3">
            <img src="./img/game-development.png" alt="4" class="modal__header-img4">
        </div>
    </div>
</div>