<header>
    <div class="container">
        <nav class="header__navigation">
            <a href="" class="header__logo">
                <svg class="header__open--icon">
                    <use href="./img/symbol-defs.svg#icon-header" class="icon-header"></use>
                </svg>
            </a>
            <ul class="header-list">
                <li class="header__list-item">
                    <a href="" class="header__item-page">Інтерактив</a>
                    <button type="button" class="header__item-btn">
                        <svg class="header__open--icon">
                            <use href="./img/symbol-defs.svg#imouse" class="icon-header__list"></use>
                        </svg>
                    </button>
                </li>
                <li class="header__list-item">
                    <a href="" class="header__item-page">Наша команда</a>
                </li>
                <li class="header__list-item">
                    <a href="" class="header__item-page">Контакти</a>
                </li>
            </ul>

            <div class="header-hiUser">
                <button type="button" class="header-hiUser-btn">
                    <svg class="header__hiUser-color">
                        <use href="./img/symbol-defs.svg#vector-1" class="icon-header-sun"></use>
                        <use href="./img/symbol-defs.svg#vector-2" class="icon-header-moon"></use>
                    </svg>
                </button>
                <p class="header__hiUser-text">Вітаємо, User!</p>
            </div>
        </nav>
    </div>
</header>