<section>
    <div class="line"></div>
    <h3>Введіть 3 числа</h3>
    <div class="section-calkulatorr">

    <input class="max-numbe-fielrd" type="number" placeholder="Введіть число" id="counter-max-number1">
    <input class="max-numbe-fielrd" type="number" placeholder="Введіть число" id="counter-max-number2">
    <input class="max-numbe-fielrd" type="number" placeholder="Введіть число" id="counter-max-number3">
    

    <p id="text-redult-max" class="result-max-number">tupe number in input</p>
</div>

</section>