<section>
    <div class="line"></div>
    <div class="slider-title">Наша команда</div>
    <div class="slider-container">
        <div class="slider">
            <button class="slide-btn-left">
                <svg class="slide__left--icon">
                    <use href="./img/symbol-defs.svg#arrow-left" class="icon-modal"></use>
                </svg>
            </button>
            <div class="slide-activ">
                <img class="slide-img" src="./img/moon.png" alt="Слайд 1">
                <p class="slide-text">Ім’я студента</p>
                <p class="slide-text__small-text">Інформація про роботу, яку він/вона виконав/ла</p>
            </div>
            <div class="slide-no-activ">
                <img class="slide-img" src="./img/sun.png" alt="Слайд 2">
                <p class="slide-text">Ім’я студента</p>
                <p class="slide-text__small-text">Інформація про роботу, яку він/вона виконав/ла</p>
            </div>
            <div class="slide-no-activ">
                <img class="slide-img" src="./img/moon.png" alt="Слайд 3">
                <p class="slide-text">Ім’я студента</p>
                <p class="slide-text__small-text">Інформація про роботу, яку він/вона виконав/ла</p>
            </div>
            <div class="slide-no-activ">
                <img class="slide-img" src="./img/sun.png" alt="Слайд 4">
                <p class="slide-text">Ім’я студента</p>
                <p class="slide-text__small-text">Інформація про роботу, яку він/вона виконав/ла</p>
            </div>
            <button class="slide-btn-right">
                <svg class="slide__right--icon">
                    <use href="./img/symbol-defs.svg#arrow-right" class="icon-modal"></use>
                </svg>
            </button>
        </div>

    </div>
</section>