<section class="our-team">
    <div class="line"></div>
    <h3>Наша команда</h3>
    <div class="our-team-block">
        <img src="./img/avatar.png" alt="img" class="our-team-img">
        <h4 data-name>Ім'я студента</h4>
        <p style="text-align: center;" data-description>Інформація про роботу яку він виконав</p>
        <ul>
            <li class="part"></li>
            <li class="part"></li>
            <li class="part"></li>
        </ul>
        <button class="our-team-btn" data-right></button>
        <button class="our-team-btn" data-left></button>
    </div>
</section>