<section>
    <div class="line"></div>
    <head><link rel="stylesheet" href="our-team.css"></head>
    <div class="slider-title">Заголовок</div>
    <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <img class="active" src="" alt="Слайд 1">
                <p class="slide-text">Ім'я 1</p>
                <p class="slide-text small-text"> 1</p>
            </div>
            <div class="slide">
                <img src="" alt="Слайд 2">
                <p class="slide-text">Ім'я 2</p>
                <p class="slide-text small-text">2</p>
            </div>
            <div class="slide">
                <img src="" alt="Слайд 3">
                <p class="slide-text">Ім'я 3</p>
                <p class="slide-text small-text"> 3</p>
            </div>
            <div class="slide">
                <img src="" alt="Слайд 4">
                <p class="slide-text">Ім'я 4</p>
                <p class="slide-text small-text"> 4</p>
            </div>
        </div>
        <div class="controls">
            <img class="control-image" src="Vector 231.png" alt="" id="prevButton">
            <img class="control-image" src="Vector 230.png" alt="" id="nextButton">
        </div>
    </div>
    <script src="our-team.js"></script>
</section>