<section >
    <div class="line"></div>
    <h3>Вгадай число, яке загадав комп’ютер</h3>
    <div class="section-quess-number">
    <div class="number-quest-input-block">
        <div class="number-quest-input-block">
            <input type="number" placeholder="Введіть число" id="counter-quest-number">
            <button id="update-btn-quest-number">
                <svg>
                    <use href="./symbol-defs.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>
    </div>
     <div>
        <p id="number-counter">play to game</p>
     </div>
    </div>
</section>