<section>
  <div class="line"></div>
  <h3>Камінь - ножиці - папір</h3>
  <div class="section-roock-paper-scissors">
      <div class="roock-paper-scissors-block">
        

        <button class="update-btn-roock-paper-scissors" id="update-btn-roock-paper-scissors1">
          <img src="./img/rock.png" alt="камінь" >
        </button>


        <button class="update-btn-roock-paper-scissors" id="update-btn-roock-paper-scissors2">
          <img src="./img/sosikalus.png" alt="папір" >
        </button>
        

        <button class="update-btn-roock-paper-scissors" id="update-btn-roock-paper-scissors3">
          <img src="./img/papirus.png" alt="нажниці" >
        </button>
      </div>


    

    <div class="rock-papirus-sosikarios-text">
      <p id="rock-conteiner">Рахунок:</p>
      <p id="comp-win-conteiner">Комп’ютер - 0</p>
      <p id="user-win-conteiner">Ви - 0</p>
    </div>

  </div>



  <div class="rock-papirus-sosikarios-text-win-loose-div" >
    <p id="text" class="rock-papirus-sosikarios-text-win-loose">play to game</p>
</div>


<div>
    <button id="button" class="comp-btn-roock-paper-scissors" >
        <!-- Варіант комп’ютера -->
        <img class="button-img-upd" id="button-img" src="" alt="">
      </button>
</div>


</section>
