<section>
  <div class="line"></div>
  <h3>Камінь - ножиці - папір</h3>
  <div class="section-roock-paper-scissors">
    <div class="roock-paper-scissors-input-block">
      <div class="roock-paper-scissors-block">
        

        <button id="update-btn-roock-paper-scissors">
          <svg>
            <use href="./symbol-defs.svg#icon-header"></use>
          </svg>
        </button>


        <button id="update-btn-roock-paper-scissors">
          <svg>
            <use href="./symbol-defs.svg#vector-2"></use>
          </svg>
        </button>


        <button id="update-btn-roock-paper-scissors">
          <svg>
            <use href="./symbol-defs.svg#vector-3"></use>
          </svg>
        </button>
      </div>
    </div>
    <div>
      <p id="rock-conteiner">Рахунок:</p>
      <p id="paper-conteiner">Комп’ютер - 0</p>
      <p id="scissors-conteiner">Ви - 0</p>
    </div>

  </div>

<div>

  <div>
    <p>play to game</p>
</div>


<div>
    <button id="comp-btn-roock-paper-scissors">
        Варіант комп’ютера
      </button>
</div>

</div>
</section>
