<section class="time-calculator">
    <div class="line"></div>
    <h3>Калькулятор часу</h3>
    <div class="time-calculator-block">
        <div class="time-calculator-input-block">
            <input type="number" placeholder="Введіть число" id="counter">
            <button id="update-btn">
                <svg>
                    <use href="./img/symbol-defs.svg#magnifying-glass"></use>
                </svg>
            </button>
        </div>
        <div class="time-calculator-line"></div>
        <p id="time-counter">0дн. 00:00</p>
    </div>
</section>