.backdrop-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}


.modal__header--button {
    margin-left: 235px;
    margin-right: 235px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    color: white;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.modal__header--comment {
    margin-top: 18px;
    margin-left: 160px;
    margin-right: 160px;
    padding: 10px 90px 10px 10px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background: #D7D7D7;
    margin-bottom: 18px;

}

.modal-text-name {
    color: #000;
    width: 140px;
    height: 15px;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}


.modal-text-header {
    margin-top: -30px;
    margin-bottom: 30px;
    color: #000;
    width: 390px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

.modal__header-img1 {
    width: 30px;
    height: 30px;
    margin-top: -100px;
    margin-left: 43px;
    margin-bottom: 145px;
}

.modal__header-img2 {
    width: 30px;
    height: 30px;

    margin-left: 43px;
    margin-bottom: 145px;
}

.modal__header-img3 {
    width: 30px;
    height: 30px;

    margin-left: 270px;
    margin-bottom: 145px;
}

.modal__header-img4 {
    width: 30px;
    height: 30px;
    margin-top: -100px;
    margin-left: 50px;
    margin-bottom: 145px;
}

.modal-header {
    background-color: white;
    width: 575px;
    height: 315px;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    transform: translate(-50%, -50%);
}

.header__close--icon {
    width: 15px;
    height: 15px;
}

.close-modal-header {
    margin-left: 521px;
    margin-top: 30px;
}