header {
    display: flex;
    margin-left: 100px;
}

/* logo */

.header__logo--icon {
    width: 93px;
    height: 38px;
}

.header__logo {
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 175px;
}

/* navigation */

.header__item-page {
    color: #000;
    background-color: transparent;
    border: none;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__list-item {
    margin-left: 50px;
}

.header__item-btn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 15px;
}

.header__open--icon {
    width: 15px;
    height: 15px;
}

.header__navigation {
    display: flex;
}

.header-list {
    display: flex;
    margin-left: 81px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* hiUser */

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}


.header__hiUser-text {
    color: #000;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-hiUser {
    margin-top: 30px;
    margin-left: 200px;
    display: flex;
    margin-bottom: 32px;

}

.header-hiUser-btn {
    margin-right: 51px;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 11px;
    background: #7A7A7A;
}


.icon-header-moon {
    display: none;
}

/* menu */




.header-pages-div {
    display: none;
    position: absolute;
    margin-bottom: 100px;
    width: 130px;
    z-index: 999;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #000;

    border-bottom: 1px solid #000;
    background-color: transparent;
    border-left: 1px solid #000;
}

.item-pages {
    width: 130px;
    height: 33px;

}

.item-pages:hover {
    background-color: #F1F1F1;
}

.item-pages:last-child:hover {
    border-radius: 0px 0px 20px 20px;

    background: #F1F1F1;
}

.header-page-item {
    color: #000;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* button header */
.img-moon {
    display: none;
   margin-left: 12px;
   margin-top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #000;
}


.img-sun {
    
    
    margin-top: -2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -6px;
    border: 1px solid #000;
}