header {
    display: flex;
   padding-left: 60px;
   
}

/* logo */

.header__logo--icon {
    width: 93px;
    height: 38px;
}

.header__logo {
    margin-top: 21px;
    margin-bottom: 20px;
    margin-left: 175px;
}

/* navigation */



.header__item-page {
 
    color: #000;
    background-color: transparent;
    border: none;
    font-family: "Montserrat Alternates";
    font-size: 12px;
  
}

.header__list-item {
    margin-left: 50px;
}

.header__item-btn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 15px;
}

.header__open--icon {
    width: 15px;
    height: 15px;
}

.header__navigation {
    display: flex;
}

.header-list {
    display: flex;
    margin-left: 81px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* hiUser */

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}


.header__hiUser-text {
    color: #000;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-hiUser {
    margin-top: 30px;
    margin-left: 600px;
    display: flex;
    margin-bottom: 32px;

}

.header-hiUser-btn {
    margin-right: 51px;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 11px;
    background: #7A7A7A;
}


.icon-header-moon {
    display: none;
}

/* menu */




.header-pages-div {
    position: absolute;
    left: 0;
    top: 20px;
    width: 130px;
    z-index: 999;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #000;
    border-top: 1px solid transparent;
    background-color: rgb(247, 247, 247);
    
}

.visible {
    display: none;
}

.item-pages {
    width: 130px;
    height: 33px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.item-pages:hover {
    background-color: #dddddd;
}

.item-pages:last-child {
    border-radius: 0px 0px 20px 20px;;
}



/* button header */
.img-moon {
    display: none;
   margin-left: 12px;
   margin-top: -1px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #000;
}


.img-sun {
    margin-top: -2px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -6px;
    border: 1px solid #000;
}

#header-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent-menu {
    position: relative;
}