.slider {
    display: flex;
    margin-top: 26px;
}

.slide-no-activ {
    display: none;
    align-items: center;
}

.slide-activ {
    text-align: center;
    display: block;
}

.slide-btn-left {
    width: 50px;
    height: 100px;
    background-color: white;
    border: none;
    margin-right: 300px;
}

.slide__left--icon {
    width: 50px;
    height: 100px;
    fill: #D9D9D9;
}

.slide-btn-right {
    width: 50px;
    height: 100px;
    background-color: white;
    border: none;
    margin-left: 300px;
}

.slide__right--icon {
    fill: #D9D9D9;
    width: 50px;
    height: 100px;
}

.slide-img {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.slide-text {
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.slide-text__small-text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}