.number-quest-input-block{
    width: 170px;
    height: 35px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
}

.section-quess-number{
    width: 536px;
    display: flex;
}

.number-quest-block{
    display: flex;
}
.number-quest-input-block{
    display: flex;
    
}


.number-quest-input-block button {
    display: flex;
    width: 38.7px;
    height: 38.7px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #000;
    border-color: transparent;
}

.number-quest-input-block button svg {
    width: 20px;
    height: 20px;
    fill: white;
}


#counter-quest-number {

    width: 105px;
    height: 15px;
    border-radius: 20px 0px 0px 20px;
    border-color: transparent;
    padding: 10px;
    background-color: #D7D7D7;
}

#number-counter {
    margin-top: 10px;
    display: flex;
text-wrap: nowrap;
margin-left: auto;
}

.win{
    color:  #039900;
    
}

.loose{
    color:  #990000;

}

