/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* header-modal */
/* @import url('.'); */
/* header */
@import url('./header.css');
/* check-year */
@import url('./quess-number.css');
@import url('./rock-paper-scissors.css');
@import url('./calculator.css');
@import url('./time-calculator.css');
/* dinosaur */
@import url('./football.css');
/* max-number */
/* our-team */
@import url('./choose-scientist.css');
/* footer */
@import url('./footer.css');
/* footer-modal */
@import url('./footer-modal.css');


:root {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.line {
  width: 536px;
  border: 1px solid black;
  margin: 0px;
  margin-bottom: 36px;
}

.container {
  background-color: white;
  box-sizing: border-box;
  width: 1090px;
  margin: auto;
  padding: 36px 0px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

h2 {
  text-align: center;
}

section h3 {
  margin-bottom: 36px;
}

input::placeholder {
    font-family: "Montserrat Alternates";
}

input:focus {
  outline: none;
}

button:focus {
  outline: 2px solid rgb(29, 199, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  background-color: #EEE;
  background-image: url("../img/background.png");
  background-size: cover;
  
}

body {
  margin: 8px 0px;
}